.main{
  position: static;
  text-align: center;

  font-family: Gotham;

  background: url('../../../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.wrapper {
  margin-left: 10px;
}