// .imgio{

   
      
  .DemoCarousel {
    text-align: center;
  }
  
  .DemoCarousel-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .DemoCarousel-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .DemoCarousel-link {
    color: #61dafb;
  }
  
  @keyframes Bot-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
//       width: 350px;
//       height: 150px;
  
      
//     }
  