
body,html{
  
  // padding:0;
 
  margin:0;
  
  height: 100%;

  margin:0;
  background-repeat: no-repeat;
  background: url("../img/airport.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  

}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.otf');
  font-weight: normal;
  font-style: normal;
}

#b1{background-repeat: no-repeat;
  background: url("../img/affair.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  // opacity: 1.0;
  // -webkit-transition: background 1.5s fixed;
  // -moz-transition: background 1.5s linear;
  // -o-transition: background 1.5s linear;
  // -ms-transition: background 1.5s linear;
  // transition: background 1.5s linear;
}

#b3{
  
  // padding:0;
 
  margin:0;
  background-repeat: no-repeat;
  background: url("../img/kokkari.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

  

// opacity: 1.0;
// -webkit-transition: background 1.5s fixed;
// -moz-transition: background 1.5s ease-out;
// -o-transition: background 1.5s linear;
// -ms-transition: background 1.5s linear;
// transition: background 1.5s linear;
}
#b2 {
  
  // padding:0;
 
  margin:0;
  background-repeat: no-repeat;
  background: url("../img/bus.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

  

// opacity: 1.0;
// -webkit-transition: background 1.5s fixed;
// -moz-transition: background 1.5s linear;
// -o-transition: background 1.5s linear;
// -ms-transition: background 1.5s linear;
// transition: background 1.5s linear;
}



